<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/','home']">Home</a></li>
</ol>
<div class="row">
  <div class="col-lg-7">
    <div class="card">
      <ul class="list-group list-group-fit mb-0">
        <li class="list-group-item" *ngFor="let tracker of trackers">
          <div class="media align-items-center">
            <div class="media-body">
              <a [routerLink]="['/','track',tracker.id]">{{tracker.account[0]}}</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
