<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/','home']">Home</a></li>
</ol>
<div class="row">
  <div class="col-lg-7">
    <agm-map *ngIf="locations.length>0" [latitude]="locations[0].lat" [longitude]="locations[0].lng" [zoom]="zoom">
      <agm-marker *ngFor="let  location of locations; let i = index" [latitude]="location.lat"
                  [longitude]="location.lng"
                  [label]="'\''+i+'\''">
        <agm-info-window>
          <strong>{{location.lat}},{{location.lng}},{{zoom}}</strong>
          <br/>
          <strong>{{location.date}}</strong>
        </agm-info-window>
      </agm-marker>
      <agm-polyline>
        <agm-polyline-point *ngFor="let  location of locations" [latitude]="location.lat" [longitude]="location.lng">
        </agm-polyline-point>
      </agm-polyline>
    </agm-map>
  </div>
  <div class="col-lg-5">
    <div class="card">
      <div class="card-header bg-white">
        <div class="media">
          <div class="media-body">
            <h4 class="card-title">Calls</h4>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-fit">
        <li *ngFor="let call of calls" class="list-group-item forum-thread">
          <div class="media align-items-center">
            <div class="media-body">
              <span>{{call.other}}</span>
            </div>
            <div class="media-right">
              <div style="width:80px; text-align: right;">
                <small class="text-muted-light"> {{call.date | amTimeAgo}}</small>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
