<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/','home']">Home</a></li>
</ol>
<div class="row">
  <div class="col-lg-7">
    <agm-map *ngIf="locations.length>0" [latitude]="locations[0].lat" [longitude]="locations[0].lng" [zoom]="zoom">
      <agm-marker [latitude]="display.lat" [longitude]="display.lng">
        <agm-info-window>
          <a href="maps.google.com/maps?daddr={{display.lat}},{{display.lng}}">
            <strong>{{display.lat}},{{display.lng}}</strong>
          </a>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
  <div class="col-lg-5">
    <div class="card">
      <div class="card-header bg-white">
        <div class="media">
          <div class="media-body">
            <h4 class="card-title">Calls</h4>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-fit" style="height: 450px;overflow-y: auto">
        <li *ngFor="let call of calls" class="list-group-item forum-thread">
          <div class="media align-items-center">
            <div class="media-body">
              <div style="width:80px; text-align: right;">
                <small class="text-muted-light"> {{call.callType}}</small>
              </div>
              <span>{{call.number}}</span>
              <div style="text-align: right;">
                <small class="text-muted-light"> {{call.date }}</small>
                <br/>
                <small class="text-muted-light"> takes</small>
                <small class="text-muted-light"> {{call.duration}}</small>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
